body {
	padding: 10px;
	background-color: #F5F5F5
}

hr {
	height: 1px;
	background-color: #000;
}

.panel-new-column{
	border-radius: 10px;
	border-style: dashed;
	border-width: thin;
	width: 160px;
	float: left;
}

.close-panel-column{
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px
}
.close-panel-column:hover{
	cursor: pointer;
}

.panel-columns{
	width: 120px;
}

.panel-columns-x{
	float: left;
	margin-right: 15px;
}

.a-img-trash-plot:hover{
	cursor: pointer;
}