body {
	padding: 10px;
	background-color: #F5F5F5
}

hr {
	height: 1px;
	background-color: #000;
}

.a-img-trash-plot:hover{
	cursor: pointer;
}

/* GROUP WITH THE COLUMNS FILTERS OF Y*/
.columns-group-y {
	width: 158px;
}

/* COLUMNS FILTERS Y */
.filter-column-y {
	margin-bottom: 7px;
	padding: 4px;
}

/* NAME COLUMN OF COLUMNS FILTERS */
.column-filter-name {
	padding-bottom: 10px;
}

/* LABELS COLUMNS FILTERS */
.label-columns-filters {
	padding-top: 7px;
}

/* REFRESH COLUMNS FILTERS */
.refresh-columns-filters {
	padding-top: 7px;
}

.remove-column:hover{
	cursor: pointer;
}

.img-trash-class:hover{
	cursor: pointer;
}

.a-title-remove{
	font-size: 12px;
}

.label-columns-filters{
	font-size: 12px;
}

.label-title-plot{
	font-size: 12px;
}

#chart{
	height:100%;
    width:100%;
}

#chart-pie{
	height:53%;
    width:56%;
}
