body {
	padding: 10px;
	background-color: #F5F5F5
}

hr {
	height: 1px;
	background-color: #000;
}

.a-img-trash-plot:hover{
	cursor: pointer;
}

/* GROUP WITH THE COLUMNS FILTERS OF Y*/
.columns-group-y {
	width: 180px;
}

/* COLUMNS FILTERS Y */
.filter-column-y {
	margin-bottom: 7px;
	padding: 4px;
}

/* NAME COLUMN OF COLUMNS FILTERS */
.column-filter-name {
	padding-bottom: 10px;
}

/* LABELS COLUMNS FILTERS */
.label-columns-filters {
	padding-top: 7px;
}

/* REFRESH COLUMNS FILTERS */
.refresh-columns-filters {
	padding-top: 7px;
}

.remove-column:hover{
	cursor: pointer;
}


